@using Microsoft.AspNetCore.Components.Authorization
@inject OidcOptions OidcOptions

<Router AppAssembly="typeof(Program).Assembly" NotFoundPage="typeof(Pages.NotFound)">
    <Found Context="routeData">
        @if (OidcOptions.Enabled)
        {
            <AuthorizeRouteView RouteData="routeData" Defau ltLayout="typeof(Layout.MainLayout)">
                <NotAuthorized>
                    <RedirectToLogin />
                </NotAuthorized>
                <Authorizing>
                    <p>Signing in...</p>
                </Authorizing>
            </AuthorizeRouteView>
        }
        else
        {
            <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        }
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
